.connect-four-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
  }
  
  .connect-four-row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  
  .connect-four-column:hover {
    background-color: #fafafa;
  }
  
  .connect-four-cell {
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    font-size: 42px;
  }
  
  .empty-piece {
    opacity: 0.3;
  }
