button {
  background-color: #3f69aa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  width: 125px;
}
button:hover {
  opacity: 0.5;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-body {
  width: 200px;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 54%;
}
.modal-content {
  padding: 15px;
  font-size: x-large;
}
.modal-footer {
  overflow: hidden;
}
