.footer-container {
    height: 140px;
    width: 100%;
	background-color: #3D4A55;
    justify-content: center;
    display: flex;
    position: absolute;
    font-weight: normal;
    bottom: 0;
    left: 0;
}
.footer-container img {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.footer-container p {
	text-align: center;
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	color: #a6b3ba;
	text-transform: uppercase;
}
.content-container {
    /* padding-top: 25px; */
}
/* 
@media only screen and (max-width: 600px) {
    .footer-container {
        position: relative;
    }
} */