<div class="start-container">
    <div class="sub">
        <h1 class="title">Choose your mode</h1>
    <ul class="auto-grid">
        <li class="grid-col" (click)="singleplayer()">
          <img src="../../assets/boss.svg" alt="Avatar" style="width:100%" class="grid-col">
          <div class="content">
            <header class="align-center">
              <h2>Singleplayer</h2> 
              <p>Play against AI</p> 
            </header>
          </div>
        </li>
        <li class="grid-col" (click)="multiplayer()">
            <img src="../../assets/network.svg" alt="Avatar" style="width:100%" class="grid-col">
            <div class="content">
              <header class="align-center">
                <h2>Multiplayer</h2> 
                <p>Play against a friend</p> 
              </header>
            </div>
          </li>
      </ul>
  </div>